/* for error message */
.form-group.sucess small
{
   visibility: visible;
   position: relative;
}

.form-group.error small
{
   visibility: visible;
   position: relative;
   color: red;
}

.form-group.empty small
{
   visibility: visible;
   position: relative;
   color: rgb(240, 173, 78);
}

/* for icon 1 in error message */

.form-group.sucess i 
{
   visibility: visible;
   position: relative;
   color: green;
}

.form-group.error i
{
   visibility: visible;
   position: relative;
   color: red;
}

.form-group.empty i
{
   visibility: visible;
   position: relative;
   color: rgb(240, 173, 78);
}

/* for input field border */

.form-group.error .form-control
{
    border-color: red;
    visibility: visible;
    box-shadow: 0px 0px 3px red;
}

.form-group.sucess .form-control
{
    border-color:green;
    box-shadow: 0px 0px 3px green;
    visibility: visible;
}

.form-group.empty .form-control
{
    border-color:rgb(240, 173, 78);
    box-shadow: 0px 0px 3px rgb(240, 173, 78);
    visibility: visible;
}

.group_number 
  {
    display: flex;
  }

  #number_code{
    width: 20%;
    margin-right: 20px;
  }
  
  #contact_number{
    width: 80%;
  }

  #form input
  {
    text-transform : uppercase;
  }